@model TestAnalyser.Model.Usuario
@using TestAnalyser.Model;
@using System.Web.Mvc;

@{
    ViewBag.Title = "Confirmar Login";
    Layout = "~/Views/Shared/_Login.cshtml";
    Session["usu_id"] = 0;
}

<style>
    input {
        max-width: none;
    }

    legend {
        width: auto;
        font-size: 30px;
        color: #0350bb;
    }

    fieldset {
        border: 1px solid #c0c0c0;
        padding: 0.35em 0.625em 0.75em;
    }
</style>

<br />
<br />

<div class="container">
    <div class="row">
        <div class="col-md-4 offset-4">
            <form class="form-horizontal" id="formLogin" method="post" action="@Url.Action("ConfirmarLogin", "Login")">
                <fieldset>
                    <legend>
                        Confirmar Login
                    </legend>
                    <div class="form-group">
                        <label for="inputUsuario" class="col-lg-2 control-label">CPF:</label>
                        <div class="col-lg-10">
                            <input id="CPF" class="form-control text-box single-line" name="CPF" type="text" value="" placeholder="Digitar apenas numeros" maxlength="11">
                            <label id="labelinputCPF" name="labelinputCPF" class="text-danger" style="display:none;">Digite seu CPF</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Login:</label>
                        <div class="col-lg-10">
                            <input id="Login" class="form-control text-box single-line" name="Login" type="text" value="" />
                            <label id="labelinputUsuario" name="labelinputUsuario" class="text-danger" style="display:none;">Digite seu Login</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword" class="col-lg-2 control-label">Nova Senha:</label>
                        <div class="col-lg-10">
                            <input id="Senha" class="form-control text-box single-line" name="Senha" type="password" value="" />
                            <label id="labelinputPassword" name="labelinputPassword" class="text-danger" style="display:none;">Digite sua senha</label>
                        </div>
                    </div>
                    <div class="col-lg-8">
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                    </div>

                        <div class="modal-footer">
                            <input id="btnConfirmar" type="submit" value="Confirmar" class="btn btn-default" />
                            <input id="btnVoltar" type="button" value="Voltar" onclick="VoltarPagina()" class="btn btn-default" />
                        </div>

                </fieldset>
            </form>
        </div>
    </div>
</div>

<script>
    function VoltarPagina() {

        $.ajax({
            type: "GET",
            url: "/Login/Voltar",
            success: function (data) {
                window.location.href = "/Login/Login";
            }
        });
        location.reload();
    }

    $("#inputUsuario").focus();

    $("#formLogin").on("keypress", function (e) {
        if (e.which == 13 || e.keyCode == 13) {
            e.preventDefault();
            $("#btnConfirmar").click();
        }
    });

</script>
